.cat-button {
    font-size: 10px;
    &:hover {
        background-color: rgb(0, 217, 255);
        color: white;
    }
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to right bottom, #051937, #005181, #00909f, #00ce7b, #b0ff00);
    &__heading {
        position: relative;
        top: -30px;
    }
}
